{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<body>

    <main class="form-container">
        <img style="margin-left: 46%" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <form class="form" method="POST" action="/register">
            <span class="input-span">
            <label>Потребителско име:</label>
            <input type="text" name="username" required>
                </span>
<span class="input-span">
            <label>Имейл:</label>
            <input type="email" name="email" required>
    </span>
<span class="input-span">
            <label>Парола:</label>
            <input type="password" name="password" required>
    </span>
<span class="input-span">
            <label>Admin secret password (по избор):</label>
            <input type="password" name="admin_secret">
</span>

            <input class="submit" type="submit" value="Регистрация" />
        </form>

        <span style="margin-left: 25%" class="span">Вече имате акаунт? <a href="{{ url_for('main.login') }}">Влез тук</a></span>
    </main>
</body>
{% endblock %}
